<ul class="breadcrumb">
    <li><strong> About </strong> </li>
</ul>
<ul class="breadcrumb2">
    <li> 
      <p>感谢您来到精准问答。 </p>
      <p>在这里，任何人可以提问。任何人可以回答。问出对的问题比给出正确的答案更重要。 </p>
      <p>&nbsp; </p>
      <p>精准问答，简单说，就是问答版维基百科。 </p> 
      <p>和维基一样，我们是一群铁杆粉丝组成的非营利性团队。</p>
      <p>我们追求真实，行动务实，相信最趋近真实的答案永远只有一个。 </p>
      <p>精准的意义在于对答案的执着探索。它背后所隐藏的是一个以价值观为驱动的公益团队和无数热爱生活充满智慧的深度用户群体。 </p>
      <p>&nbsp; </p>
      <p>精准问答并不是我们网站的名称，它只是一个标签，标识我们对事情的认真和执着。</p>
      <p>事实上，我们的网站没有名字，只有一个简称——结网，这也是域名(jie-w)的涵义。 </p>
    </li>
</ul>
