<% 
if (posts.length > 0) {
	posts.forEach(function (post) { 
%>
<ul class="breadcrumb">
    <li><strong> <%- link_to(post.title, pathTo.post(post)) %> </strong> </li>
</ul>
<ul class="breadcrumb2">
    <li> <a href="#">  tags </a>  </li>
</ul>
<% 
});
} else {
 %>
<p class="alert alert-block alert-info">
            <strong>No posts were found.</strong>
        </p>
<% } %>